
html,body{
	scroll-behavior: smooth;
}

*{
	font-family: Roboto,sans-serif;
}
.homeImage{
	position: absolute;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('urban.gif');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	color: #f5f5f5;
}
.abc:hover,.sad{
	background-color: #0082c8;
	transition: 0.6s ease;
}
.nav-item{
	padding: 3px; 
}
.homeText{
	position: relative;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	text-shadow: 2px 2px 4px #000000;
}
.childText{
	position: relative;
}
.dropdown-item{
	color: white;
}
.footerDetail{
	width: 100% ;height:auto;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('urban.gif') ;
	color:white;
	
	text-shadow: 2px 2px 4px #000000;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}
.zicon:hover{
	 transform: scale(1.5);
}

@media screen and (max-width: 1000px) {
  h2 {
  	text-align: center;
  	font-size: 25px;
  }
  .googlemap{
  	display: flex;
  	justify-content: center;
  }
}


@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }

}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}